body{
    background-color:beige;   
}

.flex-container{
    border: 1px solid black;
    background: #ccc;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    width: 80%;
    margin: 0 auto;
}

.caja{
    border: 1px solid rgb(230, 186, 186);
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold; 
    width: 200px;
    height: 200px;
    line-height: 120px;
    text-align:center;
    margin: 5px;
}

.c1{
    background:lightblue;
    order: 1;
    flex-grow: 0;
}

.c2{
    background:lightpink;
    order: 2;
    flex-grow: 0;
}

.c3{
    background:lightcyan;
    order: 3;
    flex-grow: 0;
}